backend:
  name: github # our repository provider
  repo: pnochisaki/young-inglewood # username/repo
  branch: main # the main branch of our repo
  base_url: "https://www.younginglewood.com/" # our site's base URL 
  auth_endpoint: "api/auth" # used together with base_url for our custom endpoints (more on this later)
  squash_merges: true
  preview_context: Vercel
publish_mode: editorial_workflow
# site_url: "https://young-inglewood-qxbr-i1cbfx4co-peternochisakis-projects.vercel.app"
logo_url: "https://www.younginglewood.com/images/logo.svg"
media_folder: "public/uploads" # the folder we want to upload new images to
public_folder: "/uploads" # the folder our images should be fetched from
collections: # our content types, this is just an example!
  - name: "pages"
    label: "Pages"
    folder: "_content/pages"
    create: false
    slug: "{{title}}"
    summary: "{{filename}} - {{title}}"
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" , required: false}
      - { label: "Meta Description", name: "description", widget: "string" , required: false}
      - { label: "Open Graph Image", name: "og_image", widget: "image",  required: false }
      - { label: "Headline", name: "headline", widget: "string" , required: false}
      - { label: "Body", name: "body", widget: "markdown", required: false}
      - label: "Faqs"
        name: "faqs"
        widget: "list"
        fields:
          - { label: "Question", name: "question", widget: "string" }
          - { label: "Answer", name: "answer", widget: "text" }

  - name: "blog"
    label: "Blog"
    folder: "_content/blog"
    create: true
    slug: "{{title}}"
    summary: "{{title}}"
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" , required: false}
      - { label: "Meta Description", name: "description", widget: "string" , required: false}
      - { label: "Open Graph Image", name: "og_image", widget: "image",  required: false }
      - { label: "Featured Image", name: "featured_image", widget: "image"}
      - { label: "Headline", name: "headline", widget: "string" , required: false}
      - { label: "Excerpt", name: "excerpt", widget: "markdown" , required: true}
      - { label: "Body", name: "body", widget: "markdown", required: false}

  - name: "additional"
    label: "Additional Fields"
    editor:
      preview: false
    files:
      - label: "Contact Page"
        name: "contact"
        file: "_content/pages/contact.md"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Adddress Line 1, name: address_line_1, widget: string}
          - {label: Adddress Line 2, name: address_line_2, widget: string}
          - {label: Directions Link, name: directions_link, widget: string}
          - {label: Phone, name: phone, widget: string}
          - {label: Hours Line 1, name: hours_line_1, widget: string}
          - {label: Hours Line 2, name: hours_line_2, widget: string}
          - {label: General Email, name: email, widget: string}
          - {label: FYI Email, name: email2, widget: string}
          - {label: Reservation Link, name: reservations_link, widget: string}
      - label: "Wine Page Links"
        name: "wine"
        file: "_content/pages/wine.md"
        fields:
          - {label: Estate Link 1, name: estate_link_1, widget: string}
          - {label: Estate Link 1 Text, name: estate_link_1_text, widget: string}
          - {label: Estate Link 2, name: estate_link_2, widget: string}
          - {label: Estate Link 2 Text, name: estate_link_2_text, widget: string}
          - {label: Estate Link 3, name: estate_link_3, widget: string}
          - {label: Estate Link 3 Text, name: estate_link_3_text, widget: string}
          - {label: Varietal Link 1, name: varietal_link_1, widget: string}
          - {label: Varietal Link 1 Text, name: varietal_link_1_text, widget: string}
          - {label: Varietal Link 2, name: varietal_link_2, widget: string}
          - {label: Varietal Link 2 Text, name: varietal_link_2_text, widget: string}
          - {label: Varietal Link 3, name: varietal_link_3, widget: string}
          - {label: Varietal Link 3 Text, name: varietal_link_3_text, widget: string}   
          - {label: Library Link 1, name: library_link_1, widget: string}
          - {label: Library Link 1 Text, name: library_link_1_text, widget: string}                


