html,
body {
  padding: 0;
  margin: 0;
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 16px;
}

@media (min-width: 769px) {
  html {
    font-size: 1.35vw;
  }

  body {
    font-size: 1rem;
  }
}

@media (min-width: 1281px) {
  html {
    font-size: 17px;
  }

  .layout {
    max-width: 1260px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 4.25vw;
  }
}


body {
  text-align: center;
  color: #000000;
  margin: auto;
  /* background-image: url(/images/wines.jpg); */
  background-size: 100%;
  padding: 2rem;
}

@media (min-width: 769px) {
  body {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}

@media (min-width: 769px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.25rem 2rem 1.25rem;
    position: relative;
    z-index: 1;
  }
}

.branding {
  position: relative;
  height: 3rem;
  width: 20rem;
  cursor: pointer;
  margin: auto;
}

.navigation {
  margin-bottom: 4rem;
}

.navigation nav a,
.c7-account__menu ul li a {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #666;
  letter-spacing: .185rem;
  font-size: .65rem;
  display: block;
  margin: 1.65rem;
}

.navigation nav a.active {
  opacity: .5;
}

@media (min-width: 769px) {

  .branding {
    margin: 0;
  }

  .navigation nav a:after {
    content: "•";
    display: inline-block;
    padding: 0 1rem;
  }

  .navigation {
    padding-right: 1rem;
    margin-bottom: 0;
  }

  .navigation nav a,
  #c7-cart,
  #c7-account {
    display: inline-block;
    margin: .5rem 0 0;
    font-size: .65rem;
  }

  #c7-cart .c7-user-nav__cart>button {
    padding: 0;
  }

  footer .navigation nav a:after {
    content: "";
  }

  .navigation nav a:last-child:after {
    display: none;
  }

}


footer {
  font-size: .75rem;
  letter-spacing: .05rem;
  padding: 2rem;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #999;
}

.social-links {
  padding: 1rem 0 2rem;
}

.social-links svg {
  display: inline-block;
  height: 1.125rem;
  fill: #999;
  margin: 0 .25rem;
  border: .0125rem solid #999;
  border-radius: 100%;
  padding: .125rem;
  opacity: .75;
}

.slider-wrapper {
  width: 100%;
  overflow-x: auto;
  position: relative;
  height: 30rem;
  margin-top: 4rem;
  white-space: nowrap;
}

.slider {
  animation: slideLeft 30000ms ease-in-out infinite;
  transform: translateX(0);
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.slider img {
  display: inline-block;
  width: auto;
  height: 30rem;
}

@media (min-width: 769px) {

  div[class*="col-"] {
    position: relative;
  }

  div[class*="col-"]>div {
    float: left;
  }

  div[class*="col-"] div[class*="col-"] {
    margin: 0;
  }

  div[class*="col-"]:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-4>div {
    width: 25%;
  }

  .col-3>div {
    width: 33.33%;
  }

  .col-2>div {
    width: 50%;
  }

  .col-1>div {
    width: 100%;
  }

  .col-2>div:nth-child(2n+1) {
    clear: left;
  }

  .col-66-33>div:first-child {
    float: left;
    width: 66%
  }

  .col-66-33>div:last-child {
    float: right;
    width: 33%
  }

  .col-75-25>div:first-child {
    float: left;
    width: 75%
  }

  .col-75-25>div:last-child {
    float: right;
    width: 25%
  }

  .col-50-50>div:first-child {
    float: left;
    width: 50%
  }

  .col-50-50>div:last-child {
    float: right;
    width: 50%
  }

  .col-25-75>div:first-child {
    float: left;
    width: 25%
  }

  .col-25-75>div:last-child {
    float: right;
    width: 75%
  }

  .col-33-66>div:first-child {
    float: left;
    width: 33%
  }

  .col-33-66>div:last-child {
    float: right;
    width: 66%
  }

  .col-66-33-reversed>div:first-child {
    float: right;
    width: 66%
  }

  .col-66-33-reversed>div:last-child {
    float: left;
    width: 33%
  }

  .col-40-60-reversed>div:first-child {
    float: right;
    width: 60%
  }

  .col-40-60-reversed>div:last-child {
    float: left;
    width: 50%
  }

  .col-50-50-reversed>div:first-child {
    float: right;
    width: 50%
  }

  .col-50-50-reversed>div:last-child {
    float: left;
    width: 50%
  }

  .col-50-50-alternating>div:nth-child(odd)>div:first-child {
    float: left;
    width: 50%;
  }

  .col-50-50-alternating>div:nth-child(odd)>div:last-child {
    float: right;
    width: 50%;
  }

  .col-50-50-alternating>div:nth-child(even)>div:first-child {
    float: right;
    width: 50%;
  }

  .col-50-50-alternating>div:nth-child(even)>div:last-child {
    float: left;
    width: 50%;
  }

  .col-50-50-alternating .full-width .copy {
    background-color: transparent;
  }
}

h1 {
  display: none;
}

section {
  position: relative;
  text-align: left;
}

h2,
.c7-product__title a {
  color: #d78628;
  font-size: 3.75rem;
  font-family: sofia-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: lowercase;
  margin: 0;
  letter-spacing: .1rem;
}
.c7-product__title a {
  line-height: 1;
  font-size: 2rem;
}
.copy h2,
.c7-account h2 {
  text-transform: none;
}

.copy h3 {
  margin: 0;
}
.copy p {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  h2 {
    margin: 1.5rem 0 1rem;
    line-height: 1.2;
  }

  section p strong {
    line-height: 1;
  }

  section p {
    margin-bottom: 2rem;
  }

  section p a {
    font-size: 1rem;
    padding: 1.5rem 0;
    display: block;
  }
}

@media (min-width: 769px) {
  section h2 {
    padding: .25rem 0 2rem;
    line-height: .75;
    text-indent: -.25rem;
    display: inline-block;
  }
}

h3, h4, .c7-account-block__title {
  text-transform: uppercase;
  font-family: canada-type-gibson, sans-serif;
  font-size: .65rem;
  color: #d78628;
  letter-spacing: .185rem;
  font-weight: 600
}

h4 {
  color: #666;
  display: inline-block;
}

section strong {
  color: #d78628;
  font-family: sofia-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: lowercase;
  font-size: 2rem;
  line-height: 0;
}

section p {
  line-height: 1.65;
  margin-bottom: 1.55rem;
}

section a,
.copy a,
.text-link {
  display: block;
  text-transform: uppercase;
  font-family: canada-type-gibson, sans-serif;
  font-size: .65rem;
  letter-spacing: .075rem;
  padding: 1rem 0 0;
  line-height: 0;
  color: #932761;

}


.image-1,
.image-2 {
  /* background: red; */
}

@media (min-width: 769px) {
  section.section-a p:first-of-type {
    padding-right: 5rem;
  }
}

.float-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  float: none;
  aspect-ratio: 1/1;
  width: 100%;
}

@media (min-width: 769px) {

  section:before,
  footer:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
    height: 5rem;
  }

  footer:before {
    height: 0;
  }
}

@media (min-width: 769px) {

  section.section-a .image-1 {
    width: 21.85rem;
    aspect-ratio: 798/1139;
    float: left;
    margin-right: 1.5rem;
  }

  section.section-a .image-2 {
    width: 36.25rem;
    aspect-ratio: 1330/873;
    float: right;
    margin-left: 1.125rem;
  }

}

@media (min-width: 769px) {

  section.section-b {
    clear: both;
    text-align: right;
  }

  section.section-b h2 {
    display: inline-block;
    padding: 0 1rem 0 2.5rem;
    line-height: 0;
    width: auto;
  }

  section.section-b span:first-of-type p {
    display: inline;
    text-align: right;
    margin-top: 0;
  }

  section.section-b p {
    text-align: left;
    margin-top: 1.5rem;
  }

  .section-b .image-1 {
    width: 22rem;
    aspect-ratio: 549/822;
    float: right;
    margin-left: 1.25rem;
  }

  .section-b .image-2 {
    width: 36.25rem;
    aspect-ratio: 907/605;
    float: left;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    clear: left;
  }

}

@media (min-width: 769px) {

  .section-c h2 {
    margin-top: 6rem;
    width: 33rem;
    text-align: right;
  }

  /* .section-c p:nth-of-type(3) {
    width: 78%;
  } */

  .section-c .image-1 {
    width: 36.25rem;
    aspect-ratio: 907/605;
    float: right;
    margin-top: 5.5rem;
    margin-left: 2.5rem;
    /* margin-bottom: 6rem; */
  }

  .section-c .image-2 {
    width: 22rem;
    aspect-ratio: 549/822;
    float: left;
    margin-right: 1.25rem;
    margin-top: 1rem;
  }

}

@media (min-width: 769px) {

  /* HAX!  (Duh, Hacks) */
  section.farm {
    margin-top: -5rem;
  }

  section.farm .image-1 {
    margin-bottom: 5rem;
  }

  section.cellar {
    margin-top: 7rem;
  }

  section.cellar .image-1 {
    transform: translateY(-9rem);
  }

  section.wine {
    margin-top: -4rem;
  }

  section.wine h2 {
    display: none;
  }

  section.wine span:first-of-type {
    display: inline-block;
    margin-top: 4rem;
  }

  section.wine span:first-of-type strong {
    font-size: 3rem;
  }

  section.estate:before {
    height: 8rem;
  }

  section.estate h2 {
    display: inline;
  }

  section.estate span:first-of-type p {
    display: inline;
    margin-left: 3rem;
  }

  section.estate .image-1 {
    transform: translateY(-4rem);
    margin-bottom: 3rem;
  }

  section.estate .image-2 {
    transform: translateY(2rem);
  }

  section.varietals:before {
    height: 2rem;
  }

  section.varietals h2 {
    padding-top: 5rem;
  }

  section.library .image-1 {
    transform: translateY(-6rem);
  }

  section.venn:before {
    height: 2rem;
  }

  section.venn {
    padding-bottom: 12rem;
  }

  section.tasting {
    margin-top: -6rem;
  }

  section.tasting h2 {
    margin-top: 5.5rem;
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  section.tasting .image-1 {
    margin-bottom: 2rem;
    margin-left: 3rem;
  }

  section.tasting .image-2 {
    margin-right: 2rem;
  }

  section.tasting span:nth-of-type(1) p {
    margin-top: 1rem;
  }

  section.tasting span:nth-of-type(1) p:nth-child(2) {
    max-width: 78%;
  }

  section.celebrating {
    padding-top: 2rem;
  }

  section.celebrating h2 {
    position: absolute;
    top: 3.5rem;
    left: 0;
    text-align: center;
    width: 100%;
  }

  section.celebrating span:first-of-type p {
    margin-left: 10rem;
  }

  section.celebrating span:nth-of-type(2) p {
    /* margin-top: 0; */
  }

  section.travel:before {
    height: 0;
  }

  section.travel h2 {
    line-height: 1.15;
    padding-bottom: 1rem;
  }

  section.travel p {
    margin-top: 1.5rem;
    max-width: 75%;
  }

  section.travel .image-1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  section.travel .image-2 {
    margin-right: 2rem;
  }

  section.travel {
    margin-bottom: 18rem;
  }

  section.membership:before {
    height: 0;
  }

  section.membership {
    margin-bottom: 6rem;
  }

}

@media (min-width: 769px) {

  .team:before {
    height: 2rem;
  }

  .team h2 {
    margin-top: 1rem;
  }

  .team p:first-of-type {
    margin-top: 0;
  }

  .team-1 {
    float: left;
    width: 36.25rem;
    aspect-ratio: 994/695;
    margin-right: 1.5rem;
  }

}

.team-listing ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.team-listing ul li {
  padding-bottom: 2rem;
}

.membership-details {
  text-align: left;
}

.membership-details .table {
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}

.membership-details .table>div {
  border-top: 1px solid #000;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.membership-details .table .show-more,
.membership-details .table .show-less {
  display: none;
}

@media (min-width: 769px) {

  .team-listing {
    padding-bottom: 2.5rem;
  }

  .team-listing li {
    /* display: flex; */
    position: relative;
  }

  .team-listing img {
    width: 22rem;
    position: absolute;
    aspect-ratio: 1/1;

  }

  .team-listing li:first-child {
    max-width: 100%;
    margin-top: 0 !important;
  }

  .team-listing li:nth-child(odd) {
    text-align: right;
    padding: 19rem 23rem 0 32rem;
    margin-top: -14rem;
  }

  .team-listing li:nth-child(even) {
    clear: both;
    padding: 19rem 27rem 0 23rem;
    margin-top: -6.5rem;
  }

  .team-listing li:nth-child(odd) img {
    top: 0;
    right: 0;
  }

  .team-listing li:nth-child(even) img {
    top: 0;
    left: 0;
  }

  .copy {
    max-width: 60rem;
    margin: auto;
    text-align: left;
    padding-right: 20rem;
  }

  .membership-details {
    margin: 2rem 5rem 5rem 6rem;
    padding-top: 2rem;
  }

  .membership-details .table {
    margin: 0;
  }

  .membership-details .table>div {
    padding: 0;
    /* display: flex;
    align-items: stretch;
    justify-content: space-between; */
  }

  .membership-details .table>div .expanded,
  .membership-details .table>div .show-less,
  .membership-details .table>div.active .show-more {
    display: none;
  }

  .membership-details .table>div.active .expanded,
  .membership-details .table>div.active .show-less {
    display: block;
  }

  .membership-details .table p {
    padding: .5rem 0;
    margin: 0;
  }

  .membership-details .table .expanded p {
    margin: 0;
    padding: 0;
  }

  .membership-details .table>div>div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 20%;
  }

  .membership-details .table>div>div:first-child {
    text-align: left;
  }

  .membership-details .table .show-more,
  .membership-details .table .show-less {
    display: block;
  }

  .contact ul {
    padding: 2rem 0 0 0;
    margin: 0;
    list-style-type: none;
  }
  .contact ul li {
    width: 32%;
    display: inline-block;
    vertical-align: top;
  }
  .contact .map {
    float: right;
    width: 22rem;
    height: 33rem;
  }
  .contact .map iframe {
    border: 0;
    height: 100%;
    width: 100%;
  }
}

/* ================================================================== */

/* c7 overrides */

/* ================================================================== */

:root {
  --c7-page-width: 1200px;
  --c7-page-width-checkout: 1500px;
  --c7-font-family: baskerville-urw, sans-serif;
  --c7-body-text-color: #232324;
  --c7-alt-text-color: #50505a;
  --c7-font-size: 16px;
  --c7-font-size-sub: 14px;
  --c7-heading-font-family: canada-type-gibson, sans-serif;
  --c7-heading-text-color: #d78628;
  --c7-heading-font-weight: 400;
  --c7-primary-color: #d78628;
  --c7-primary-color-text: #000;
  --c7-primary-color-dark: #d78628;
  --c7-primary-color-focus: rgba(56, 96, 214, 0.25);
  --c7-link-color: var(--c7-primary-color-text);
  --c7-bg: #fff;
  --c7-bg-alt: #f7f8fa;
  --c7-border-color: #e3e3e8;
  --c7-border-radius: 4px;
  --c7-loading-bg: rgba(255, 255, 255, 0.5);
  --c7-modal-border-radius: 8px;
  --c7-modal-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  --c7-overlay-bg: rgba(0, 0, 0, 0.1);
  --c7-progress-bar: var(--c7-primary-color);
  --c7-pill-bg: #f3f6ff;
  --c7-pill-text-color: var(--c7-primary-color-text);
  --c7-field-bg: #fff;
  --c7-field-border-radius: 4px;
  --c7-field-border-color: #b2b2b8;
  --c7-field-focus-color: rgba(0, 0, 0, 0.07);
  --c7-field-option-selected-color: var(--c7-primary-color);
  --c7-field-option-focus-color: var(--c7-primary-color-focus);
  --c7-field-placeholder: #b2b2b8;
  --c7-field-dropdown-shadow: 2px 2px 10px 0 rgb(0 0 0 / 8%);
  --c7-primary-button-bg: var(--c7-primary-color);
  --c7-primary-button-bg-hover: var(--c7-primary-color-dark);
  --c7-primary-button-text-color: #fff;
  --c7-alt-button-bg: ##fff;
  --c7-alt-button-bg-hover: var(--c7-primary-color);
  --c7-alt-button-text-color: #000;
  --c7-button-border-radius: 0;
  --c7-info-bg: #f1f1f4;
  --c7-error: #ca0505;
  --c7-error-bg: #ffebeb;
  --c7-warning: #fba213;
  --c7-warning-bg: #fff6e5;
  --c7-success: #016047;
  --c7-success-bg: #e8fcf7;
  --c7-header-text-color: #232324;
  --c7-notification: #ca0505;
  --c7-cart-count-bg: var(--c7-primary-color);
  --c7-cart-count-bg-focus: var(--c7-primary-color-focus);
  --c7-cart-count-text-color: #fff;
  --c7-side-cart-shadow: 0 0 15px 5px rgb(0 0 0 / 10%);
  --c7-dropdown-border-radius: 8px;
  --c7-dropdown-shadow: 0 1px 7px 0 rgb(0 0 0 / 15%);
  --c7-dropdown-hover: #e6e8ed;
  --c7-block-bg: var(--c7-bg);
  --c7-block-border-color: var(--c7-border-color);
  --c7-block-border-radius: var(--c7-border-radius);
  --c7-block-shadow: 0 1px 3px 0 rgba(222, 222, 227, 0.3);
}

.c7-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: .65rem;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .185rem;
  border: 0;
  background: transparent;
  color: #d78628;
  padding: 1rem 1rem;
}

.c7-btn:hover {
  color: #fff;
}

.navigation nav .c7-order-summary__buttons a {
  color: #fff;
}
.collections-nav a {
  margin: .25rem;
  background: transparent;
  color: #d78628;
}

.collections-nav a:not([disabled]):hover,
.collections-nav a:hover {
  background: #d78628;
  text-decoration: none;  
}

@media (min-width: 769px) {
  .faq .image-1 {
    float: right;
    width: 22rem;
  }
  .c7-product-collection .c7-product__image {
    flex: none;
    padding: 0 8rem 2rem 8rem;
    margin: 0;

  }
  .c7-product-collection .c7-product,
  .c7-product-collection__products--featured .c7-product {
    display: inline-block;
    width: 49%; 
    vertical-align: top;
    margin: 0;
    text-align: center;
  }
  .c7-product-collection .c7-product__image {
  }
  .c7-product-collection .c7-product__image img {
    max-height: 100%;
    margin: 0;
  }
  .c7-product-collection .c7-product__image a {
    padding: 0;
  }
  .c7-product-collection__products--featured .c7-product__image {
    margin: 0;
  }
  .c7-product-collection__product-list {
    display: block;
    text-align: center;
  }
  .c7-product__details {
    /* border: 1px solid #dedede; */
    /* color: #fff; */
    padding: 8rem 0rem 2rem 0;
    margin: -10rem 2rem 2rem 2rem;
  }

  .c7-form .c7-radio {
    /* text-align: center; */
  }
  .c7-form__field fieldset {
    max-width: 8rem;
    margin: auto;
  }
  .c7-product__add-to-cart__form {
    max-width: 13rem;
    margin: auto;
  }
  .c7-product__details * {
    
  }
  .c7-product__title a {
    margin-bottom: 1rem;
  }
  .c7-product__subtitle {
    font-style: italic;
    letter-spacing: .05rem;;
  }
  .c7-pagination {
    /* text-align: center; */
  }
}

@media (max-width: 768px) {
  .c7-product-collection .c7-product__image img {
    max-height: 100%;  
}
}

.c7-account__header p:first-of-type {
  display: none;
}
.c7-account__header {
  background: #fff;
  padding: 2rem;
}

.c7-product-collection__products--featured {
  /* display: none; */
}
.c7-back::before {
  display: none;
}

.c7-user-nav__account__dropdown {
  margin-right: -20000px;
}

.c7-user-nav__account__name svg {
  display: none;
}
.c7-order-items--shipment .c7-order-item__image img {
  max-height: 100%;
  max-width: 8rem;
}