html,
body {
  padding: 0;
  margin: 0;
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 16px;
}

@media (min-width: 769px) {
  html {
    font-size: 1.35vw;
  }

  body {
    font-size: 1rem;
  }
}

.layout {
  position: relative;
}

@media (min-width: 1260px) {
  html {
    font-size: 17px;
  }

  .layout {
    max-width: 1260px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 4.25vw;
  }
}


body {
  text-align: center;
  color: #000000;
  margin: auto;
  /* background-image: url(/images/taste.jpg); */
  background-size: 100%;
  padding: 2rem;
}

@media (min-width: 769px) {
  body {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}

.layout>header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1260px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
}


@media (min-width: 769px) {


  .home.layout>header {
    background: transparent;
    position: absolute;
    z-index: 3;
  }

  .home.layout>header .branding {
    opacity: 0;
  }

  .home-1,
  .home-2 {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0;
  }

  .home-1 {
    background-image: url(/images/home-1.jpg);
    z-index: 1;
    opacity: 1;
  }

  .home-2 {
    background-image: url(/images/home-2.jpg);
    z-index: 2;
    animation: 3s fadeIn ease-out forwards;
    animation-delay: 2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  .home-2 .text {
    position: absolute;
    width: 30.5rem;
    transform: translate(38rem, 24rem);
    text-align: left;
    font-style: italic;
    font-size: 1.65rem;
    letter-spacing: -.03rem;
    line-height: 1.2;
    padding: .5rem 0 .25rem 2rem;
    border-left: 1px solid #000;
  }

  .home-2 .image {
    position: absolute;
    width: 18rem;
    transform: translate(18rem, 24rem);
  }


  .layout>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.25rem 2rem;

  }

  .layout>main {
    padding-top: 7.5rem;
  }
}

.branding {
  position: relative;
  height: 3rem;
  width: 20rem;
  cursor: pointer;
  margin: auto;
  display: block;
}

.navigation {
  margin-bottom: 4rem;
}

#c7-account {
  min-width: 70px;
}

#c7-cart {
  min-width: 35px;
}

.navigation a,
#c7-account,
#c7-cart {
  opacity: 0;
  animation: fadeIn 1s ease-out;
  animation-fill-mode: forwards;
}

.navigation nav>a:nth-child(5n+1) {
  animation-delay: 1.50s;
}

.navigation nav>a:nth-child(5n+2) {
  animation-delay: 1.25s;
}

.navigation nav>a:nth-child(5n+3) {
  animation-delay: 1.00s;
}

.navigation nav>a:nth-child(5n+4) {
  animation-delay: 0.75s;
}

.navigation nav>a:nth-child(5n+5) {
  animation-delay: 0.5s;
}

#c7-account {
  animation-delay: .5s;
}

#c7-cart {
  animation-delay: .5s;
}

/* HOME VERSION IS DIFFERENT  VAUES ABOVE + 5 + */

.home .navigation nav>a:nth-child(5n+1) {
  animation-delay: 6.50s;
}

.home .navigation nav>a:nth-child(5n+2) {
  animation-delay: 6.25s;
}

.home .navigation nav>a:nth-child(5n+3) {
  animation-delay: 6.00s;
}

.home .navigation nav>a:nth-child(5n+4) {
  animation-delay: 5.75s;
}

.home .navigation nav>a:nth-child(5n+5) {
  animation-delay: 5.5s;
}

.home #c7-account {
  animation-delay: 5.5s;
}

.home #c7-cart {
  animation-delay: 5.5s;
}


/* Animation steps */

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

.c7-account__header p:nth-of-type(2) {
  text-indent: -237px;
  overflow: hidden;
}


.navigation nav a,
.c7-account__menu ul li a,
.c7-account__header p:first-of-type,
.c7-account__header p:nth-of-type(2),
.c7-account__header .c7-marker,
.c7-account__menu a,
.c7-account-block__actions button.c7-link {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #666;
  letter-spacing: .185rem;
  font-size: .65rem;
  display: block;
  margin: 1.65rem;
  border: 0;
  padding: 0;
}

.c7-account-block__actions button.c7-link {
  margin: 0;
}

.navigation nav a span,
.collections-nav a span,
.c7-account__menu li {
  position: relative;
}

.navigation nav a.active span:after,
.collections-nav a.active span:after,
.c7-account__menu li.c7-active a:after,
.navigation nav a:hover span:after,
.collections-nav a:hover span:after,
.c7-account__menu li:hover a:after {
  position: absolute;
  height: 2px;
  margin: 0;
  content: '';
  left: 0;
  right: 0;
  width: 100%;
  color: #000;
  background-color: #d78628;
  bottom: -5px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}

.c7-account__menu li.c7-active a:after,
.c7-account__menu li:hover a:after {
  width: calc(100% - 45px);
  bottom: -2px;
}

.c7-account__menu li:last-child.c7-active a:after,
.c7-account__menu li:last-child:hover a:after {
  width: 100%;
}

.navigation nav a:hover span:after,
.collections-nav a:hover span:after,
.c7-account__menu li:hover a:after {
  background-color: #999;
}

.navigation nav .c7-user-nav__account a {
  color: #d78628;
  padding-right: 1rem;
}

#c7-cart .c7-user-nav__cart>button {
  padding: 0;
  opacity: .65;
}

.c7-user-nav__cart>.c7-link .c7-user-nav__cart__count {
  box-shadow: none;
  background: transparent;
  color: inherit;
  border: 0;
  /* font-weight: bold; */
  /* color:#d78628; */
}

.c7-user-nav__cart>.c7-link:hover .c7-user-nav__cart__count {
  box-shadow: none;
}

#c7-cart .c7-user-nav__cart>button .c7-user-nav__cart__title {
  /* background: red; */
  height: 1rem;
  width: 1rem;
  display: inline-block;
  vertical-align: middle;
  background-image: url(/images/shopping-cart.svg);
  background-size: cover;
}

#c7-cart .c7-user-nav__cart>button .c7-user-nav__cart__title svg {
  display: none;
}

.c7-user-nav__account>a,
.c7-user-nav__cart>button {
  padding: 0;
}

@media (min-width: 769px) {

  .branding {
    margin: 0;
  }

  .navigation nav a:after,
  .collections-nav a:after,
  .c7-account__menu li:after,
  .c7-account__header p:first-of-type:after,
  .c7-account__header p:nth-of-type(2):after {
    content: "•";
    display: inline-block;
    padding: 0 1rem;
    color: #666;
    font-size: .65rem;
  }

  .c7-account__menu li:last-of-type a:after,
  .c7-account__menu li:last-of-type:after,
  .collections-nav a:last-of-type:after {
    content: "";
    padding: 0;
  }

  .c7-account__menu {
    box-shadow: none;
    background: transparent;
  }

  .c7-account__menu ul {
    text-align: right;
  }

  .navigation nav .c7-order-summary__buttons a:after {
    display: none;
  }

  .navigation {
    padding-right: 1rem;
    margin-bottom: 0;
  }

  header .desktop-navigation {
    display: flex;
    align-items: flex-end;
  }

  header .navigation nav {
    display: flex;
  }

  .navigation nav a,
  #c7-cart,
  #c7-account,
  .c7-account__menu ul li a,
  .c7-account__header p:first-of-type,
  .c7-account__header p:nth-of-type(2),
  .c7-account__header .c7-marker {
    display: inline-block;
    margin: 0;
    font-size: .65rem;
    vertical-align: middle;
    text-decoration: none;
  }

  .navigation nav a:hover {
    text-decoration: none;
  }

  #c7-account a:after {
    content: '';
    padding: 0;
  }

  #c7-account .c7-user-nav__account {
    padding-right: 0;
  }

  footer .navigation nav a:after {
    content: "";
    padding-right: .5rem;
  }
  footer .navigation nav a:before {
    content: "";
    padding-left: .5rem;
  }
  .navigation nav a:last-child:after {
    display: none;
  }

}


footer {
  font-size: .75rem;
  letter-spacing: .05rem;
  padding: 3rem 2rem;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #999;
}

.social-links {
  padding: 1rem 0 2rem;
}

.social-links svg {
  display: inline-block;
  height: 1.125rem;
  fill: #999;
  margin: 0 .25rem;
  border: .0125rem solid #999;
  border-radius: 100%;
  padding: .125rem;
  opacity: .75;
}

.slider-wrapper {
  width: 100%;
  overflow-x: auto;
  position: relative;
  height: 30rem;
  margin-top: 4rem;
  white-space: nowrap;
}

.slider {
  animation: slideLeft 30000ms ease-in-out infinite;
  transform: translateX(0);
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.slider img {
  display: inline-block;
  width: auto;
  height: 30rem;
}

@media (min-width: 769px) {

  div[class*="col-"] {
    position: relative;
  }

  div[class*="col-"]>div {
    float: left;
  }

  div[class*="col-"] div[class*="col-"] {
    margin: 0;
  }

  div[class*="col-"]:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-4>div {
    width: 25%;
  }

  .col-3>div {
    width: 33.33%;
  }

  .col-2>div {
    width: 50%;
  }

  .col-1>div {
    width: 100%;
  }

  .col-2>div:nth-child(2n+1) {
    clear: left;
  }

  .col-66-33>div:first-child {
    float: left;
    width: 66%
  }

  .col-66-33>div:last-child {
    float: right;
    width: 33%
  }

  .col-75-25>div:first-child {
    float: left;
    width: 75%
  }

  .col-75-25>div:last-child {
    float: right;
    width: 25%
  }

  .col-50-50>div:first-child {
    float: left;
    width: 50%
  }

  .col-50-50>div:last-child {
    float: right;
    width: 50%
  }

  .col-25-75>div:first-child {
    float: left;
    width: 25%
  }

  .col-25-75>div:last-child {
    float: right;
    width: 75%
  }

  .col-33-66>div:first-child {
    float: left;
    width: 33%
  }

  .col-33-66>div:last-child {
    float: right;
    width: 66%
  }

  .col-66-33-reversed>div:first-child {
    float: right;
    width: 66%
  }

  .col-66-33-reversed>div:last-child {
    float: left;
    width: 33%
  }

  .col-40-60-reversed>div:first-child {
    float: right;
    width: 60%
  }

  .col-40-60-reversed>div:last-child {
    float: left;
    width: 50%
  }

  .col-50-50-reversed>div:first-child {
    float: right;
    width: 50%
  }

  .col-50-50-reversed>div:last-child {
    float: left;
    width: 50%
  }

  .col-50-50-alternating>div:nth-child(odd)>div:first-child {
    float: left;
    width: 50%;
  }

  .col-50-50-alternating>div:nth-child(odd)>div:last-child {
    float: right;
    width: 50%;
  }

  .col-50-50-alternating>div:nth-child(even)>div:first-child {
    float: right;
    width: 50%;
  }

  .col-50-50-alternating>div:nth-child(even)>div:last-child {
    float: left;
    width: 50%;
  }

  .col-50-50-alternating .full-width .copy {
    background-color: transparent;
  }
}

h1 {
  display: none;
}

section {
  position: relative;
  text-align: left;
}

h2 {
  color: #d78628;
  font-size: 3.75rem;
  font-family: sofia-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: lowercase;
  margin: 0;
  letter-spacing: .1rem;
}


.navigation nav ac7-product__title a:hover {
  text-decoration: none;
}

.copy h2,
.c7-account h2 {
  text-transform: none;
}

.copy h3 {
  margin: 0;
}

.copy p {
  margin-bottom: 1.5rem;
}

.c7-account-login__password-options {
  text-align: center !important;
}

.c7-side-cart__header {
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  header {
    height: 4rem;
    left: 0;

  }

  header.hamburger-open,
  header.hamburger-open .desktop-navigation {
    height: 100vh;
  }

  .desktop-navigation {
    height: 0;
  }

  header .navigation {}

  header .navigation {
    width: 100vw;
    transform: translateX(-100vw);
    transition: transform 200ms ease-in-out;
    /* background: rgba(255, 255, 255, 0.5); */
  }

  header.hamburger-open .navigation {
    transform: translateX(0);
  }

  .branding {
    width: 16rem;
    height: 4rem;
  }

  h2 {
    margin: 2.5rem 0 .5rem;
    line-height: 1.2;
    font-size: 2.5rem;
  }


  section:nth-child(odd) h2 {
    text-align: right;
  }

  section p strong {
    line-height: 1;
  }

  section p {
    margin-bottom: 2rem;
  }

  section p a {
    font-size: .85rem;
    padding: 1.5rem 0;
    display: block;
  }

  .c7-form__buttons button,
  html .c7-bt,
  section p a {
    font-size: .85rem;
    letter-spacing: .075rem;
  }

  #c7-cart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
  }

  #c7-cart .c7-user-nav__cart__count {
    display: none;
  }

  #c7-cart .c7-side-cart__header {
    display: block;
    padding: 1rem;
    justify-content: flex-end !important;
  }

  #c7-cart .c7-side-cart__header button {
    float: right;
  }

  .hamburger {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .hamburger svg,
  .c7-side-cart__header button svg {
    fill: rgba(0, 0, 0, 0.75);
    width: 1rem;
    height: 1rem;
  }

  main {
    margin-top: 2rem;
  }


  .contact .copy > h2 {
    display: none;
  }

  @media (max-width: 768px) {
    .contact > h2 {
      text-align: left;
    }  
    .contact .map {
        height: 20rem;
    }
    .contact .map iframe {
      height: 100%;
      width: 100%;
      border: 0;
    }
  }


}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }

  section h2 {
    padding: .25rem 0 2rem;
    line-height: .75;
    text-indent: -.25rem;
    display: inline-block;
  }
}

html h2.c7-h2,
.c7-account-dashboard__block__header__title h2.c7-h2,
.c7-product-collection__product-list .c7-product__title a,
.c7-product__subtitle,
.c7-wrapper h1,
.c7-table__header th,
h3,
h4,
.c7-account-block__title,
.c7-order-item__title {
  text-transform: uppercase;
  font-family: canada-type-gibson, sans-serif;
  font-size: .75rem !important;
  color: #d78628;
  letter-spacing: .185rem;
  font-weight: 600;
  margin: 0;
  display: block;
  text-indent: 0;
}

.c7-table__header th {
  display: table-cell;
}

.c7-product__subtitle {
  color: #999;
  font-weight: 600;
  margin: 0;
}

.c7-product__add-to-cart__price__action-message p {
  margin: 0;
  padding: 0;
}

h4 {
  color: #666;
  display: inline-block;
}

section strong {
  color: #d78628;
  font-family: sofia-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: lowercase;
  font-size: 2rem;
  line-height: 0;
}

section p {
  line-height: 1.65;
  margin-bottom: 1.55rem;
}

section a,
.copy a,
.text-link {
  display: block;
  text-transform: uppercase;
  font-family: canada-type-gibson, sans-serif;
  font-size: .65rem;
  letter-spacing: .075rem;
  padding: 1rem 0 0;
  line-height: 0;
  color: #932761;

}


.image-1,
.image-2 {
  /* background: red; */
}

@media (min-width: 769px) {
  section.section-a p:first-of-type {
    padding-right: 5rem;
  }
}

.float-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  float: none;
  aspect-ratio: 1/1;
  width: 100%;
}

.mobile-image {
  display: none;
}

@media (max-width: 768px) {
  .float-image {
    display: none;
  }

  .mobile-image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 1rem 0;
    float: none;
    aspect-ratio: 1/1;
    width: 100%;
  }
}


@media (min-width: 769px) {

  section:before,
  footer:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }

  section.c7-content:before {
    height: 0;
  }

  footer:before {
    height: 0;
  }
}

@media (min-width: 769px) {

  section.section-a .image-1 {
    width: 21.85rem;
    aspect-ratio: 798/1139;
    float: left;
    margin-right: 1.5rem;
  }

  section.section-a .image-2 {
    width: 36.25rem;
    aspect-ratio: 1330/873;
    float: right;
    margin-left: 1.125rem;
  }

}

@media (min-width: 769px) {

  section.section-b {
    clear: both;
    text-align: right;
  }

  section.section-b h2 {
    display: inline-block;
    padding: 0 1rem 0 2.5rem;
    line-height: 0;
    width: auto;
  }

  section.section-b span:first-of-type p {
    display: inline;
    text-align: right;
    margin-top: 0;
  }

  section.section-b p {
    text-align: left;
    margin-top: 1.5rem;
  }

  .section-b .image-1 {
    width: 22rem;
    aspect-ratio: 549/822;
    float: right;
    margin-left: 1.25rem;
  }

  .section-b .image-2 {
    width: 36.25rem;
    aspect-ratio: 907/605;
    float: left;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    clear: left;
  }

}

@media (min-width: 769px) {

  .section-c h2 {
    margin-top: 6rem;
    width: 33rem;
    text-align: right;
  }

  /* .section-c p:nth-of-type(3) {
    width: 78%;
  } */

  .section-c .image-1 {
    width: 36.25rem;
    aspect-ratio: 907/605;
    float: right;
    margin-top: 5.5rem;
    margin-left: 2.5rem;
    /* margin-bottom: 6rem; */
  }

  .section-c .image-2 {
    width: 22rem;
    aspect-ratio: 549/822;
    float: left;
    margin-right: 1.25rem;
    margin-top: 1rem;
  }

}

section.wine h2 {
  display: none;
}



@media (min-width: 769px) {

  /* HAX!  (Duh, Hacks) */
  section.farm {
    /* margin-top: -5rem; */
  }

  section.farm .image-1 {
    margin-bottom: 9rem;
  }

  .cellar {
    margin: 4rem 0 4rem;
  }

  .cellar h2 {
    margin-top: 9rem;
  }

  .cellar .image-1 {
    margin-bottom: 4rem;
  }

  section.wine.section-b span:first-of-type p {
    padding: 2rem 1.5rem 0 0;
    display: inline-block;
  }

  section.wine span:first-of-type {
    display: inline-block;
    margin-top: 4rem;
  }

  section.wine span:first-of-type strong {
    font-size: 3rem;
  }

  section.estate:before {
    height: 8rem;
  }

  section.estate h2 {
    display: inline;
  }

  section.estate span:first-of-type p {
    display: inline;
    margin-left: 3rem;
  }

  section.estate .image-1 {
    transform: translateY(-4rem);
    margin-bottom: 3rem;
  }

  section.estate .image-2 {
    transform: translateY(2rem);
  }

  section.varietals:before {
    height: 2rem;
  }

  section.varietals h2 {
    padding-top: 5rem;
  }

  section.library:before {
    height: 7rem;
  }

  section.library .image-1 {
    transform: translateY(-6rem);
  } 

  section.venn:before {
    height: 1rem;
  }

  section.venn {
    padding-bottom: 12rem;
  }
  section.venn.section-a .image-1 {
    transform: translate(0, 1.5rem)
  }

  section.tasting {
    /* margin-top: -6rem; */
  }

  section.tasting h2 {
    margin-top: 3.5rem;
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  section.tasting .image-1 {
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-top: 0;
  }

  section.tasting .image-2 {
    margin-right: 2rem;
  }

  section.tasting span:nth-of-type(1) p {
    margin-top: 1rem;
  }

  section.tasting span:nth-of-type(1) p:nth-child(2) {
    max-width: 78%;
  }

  section.celebrating {
    padding-top: 7rem;
  }

  section.celebrating h2 {
    position: absolute;
    top: 3.5rem;
    left: 0;
    text-align: center;
    width: 100%;
  }

  section.celebrating span:first-of-type p {
    margin-left: 10rem;
  }

  section.celebrating span:nth-of-type(2) p {
    /* margin-top: 0; */
  }

  section.celebrating .image-2 {
    width: 35rem;
    margin-top: -.5rem;
  }

  section.travel:before {
    height: 0;
  }

  section.travel h2 {
    line-height: 1.05;
    padding-bottom: 1rem;
    transform: translateX(3rem);
  }

  section.travel p {
    margin-top: 1rem;
    max-width: 75%;
  }

  section.travel .image-1 {
    margin-top: 4rem;
    margin-bottom: 0;
    margin-left: 2rem;
  }

  section.travel .image-2 {
    margin-right: 2rem;
  }

  section.travel {
    margin-bottom: 18rem;
  }

  section.membership:before {
    height: 0;
  }

  section.membership {
    margin-bottom: 6rem;
  }

  section.membership h2 {
    padding-top: 3rem;
  }

  section.membership .image-2 {
    width: 35.5rem;
  }

}

@media (min-width: 769px) {

  .team:before {
    height: 2rem;
  }

  .team p:first-of-type {
    margin-top: 0;
  }

  .team-1 {
    float: left;
    width: 36.25rem;
    aspect-ratio: 994/652;
    margin-right: 1.5rem;
  }

}

.team-listing ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.team-listing ul li {
  padding-bottom: 2rem;
}

.membership-details {
  text-align: left;
}

.membership-details h3 {
  padding: .75rem 0;
}

.membership-details>h3 {
  padding: 0;
}

.membership-details>ul {
  margin-top: .25rem;
}

.membership-details .table {
  margin-top: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid;
}

.membership-details .table .club-row {
  overflow: hidden;
}

.membership-details .table .club-row.active ul {
  display: block;
  margin-top: 0;
}

.membership-details .table .club-row ul {
  list-style-type: none;
  display: none;
}

.membership-details .table {
  margin-top: 1rem;
}

.membership-details .table>div {
  border-top: 1px solid #000;
  padding-bottom: 1rem;
}

.membership-details .table .show-less,
.membership-details .table .show-more,
.membership-details .table .c7-btn {
  display: inline-block;
  vertical-align: top;
  padding: .85rem 0 .75rem;
  letter-spacing: .075rem;
}

.membership-details .table .show-less {
  display: none;
}

.membership-details .table .club-row.active .show-less {
  display: block;
}

.membership-details .table .show-more {
  display: block;
}

.membership-details .table .club-row.active .show-more {
  display: none;
}

.team-listing img {
  display: none;
}

.copy {
  text-align: left;
}

.contact ul {
  padding: 2rem 0 0 0;
  margin: 0;
  list-style-type: none;
}


@media (min-width: 769px) {

  .team-listing {
    padding-bottom: 2.5rem;
  }

  .team-listing li {
    /* display: flex; */
    position: relative;
  }

  .team-listing img {
    width: 22rem;
    position: absolute;
    aspect-ratio: 1/1;
    display: block;
  }

  .team-listing li:first-child {
    max-width: 100%;
    margin-top: 0 !important;
  }

  .team-listing li:nth-child(odd) {
    text-align: right;
    padding: 19rem 23rem 0 32rem;
    margin-top: -14rem;
  }

  .team-listing li:nth-child(even) {
    clear: both;
    padding: 19rem 27rem 0 23rem;
    margin-top: -6.5rem;
  }

  .team-listing li:nth-child(odd) img {
    top: 0;
    right: 0;
  }

  .team-listing li:nth-child(even) img {
    top: 0;
    left: 0;
  }

  .copy {
    max-width: 60rem;
    margin: auto;
    text-align: left;
    
  }

  .contact .copy {
    padding-right: 20rem;
  }
  .faq .copy img {
    margin: -6rem -6rem 12rem 2rem;
  }
  .membership-details {
    margin: -3rem 5rem 5rem 6rem;
    padding-top: 0;
  }

  .membership-details .table {
    margin: .75rem 0;
    padding: 0;
  }

  .membership-details .table>div {
    padding: 0;
  }



  .membership-details .table p {
    padding: .5rem 0;
    margin: 0;
  }

  .membership-details .table>div>div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 28%;
  }

  .membership-details .table>div>div:first-child {
    text-align: left;
    width: 12%;
  }

  .membership-details .table>div>div:nth-child(4) {
    width: 16.5%;
    text-align: center;
  }

  .membership-details .table>div>div:nth-child(5) {
    width: 13.5%;
    text-align: right;
  }

  /* contact */


  .contact ul li {
    width: 32%;
    display: inline-block;
    vertical-align: top;
  }

  .contact .map {
    float: right;
    width: 22rem;
    height: 33rem;
  }

  .contact .map iframe {
    border: 0;
    height: 100%;
    width: 100%;
  }

  .credits {
    margin-bottom: 4rem;
  }

  .credits .image-2 {
    width: 34rem;
    margin-bottom: 12rem
  }

  .credits h2 {
    margin-top: 11rem;
  }

  .credits span {
    display: block;
    padding-top: 2rem;
  }

  .credits span,
  section.credits span:first-of-type p {
    text-align: left;
    display: block;
    margin-bottom: .25rem;
  }
}

/* ================================================================== */

/* c7 overrides */

/* ================================================================== */

:root {
  --c7-page-width: 1260px;
  --c7-page-width-checkout: 1500px;
  --c7-font-family: baskerville-urw, sans-serif;
  --c7-body-text-color: #232324;
  --c7-alt-text-color: #50505a;
  --c7-font-size: 1rem;
  --c7-font-size-sub: 1rem;
  --c7-heading-font-family: canada-type-gibson, sans-serif;
  --c7-heading-text-color: #d78628;
  --c7-heading-font-weight: 400;
  --c7-primary-color: #932761;
  --c7-primary-color-text: #000;
  --c7-primary-color-dark: #d78628;
  --c7-primary-color-focus: #d78628;
  --c7-link-color: #932761;
  --c7-bg: #fff;
  --c7-bg-alt: #f7f8fa;
  --c7-border-color: transparent;
  --c7-border-radius: 4px;
  --c7-loading-bg: rgba(255, 255, 255, 0.5);
  --c7-modal-border-radius: 8px;
  --c7-modal-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  --c7-overlay-bg: rgba(0, 0, 0, 0.1);
  --c7-progress-bar: var(--c7-primary-color);
  --c7-pill-bg: #f3f6ff;
  --c7-pill-text-color: var(--c7-primary-color-text);
  --c7-field-bg: #fff;
  --c7-field-border-radius: 4px;
  --c7-field-border-color: #b2b2b8;
  --c7-field-focus-color: rgba(0, 0, 0, 0.07);
  --c7-field-option-selected-color: #d78628;
  --c7-field-option-focus-color: var(--c7-primary-color-focus);
  --c7-field-placeholder: #b2b2b8;
  --c7-field-dropdown-shadow: 2px 2px 10px 0 rgb(0 0 0 / 8%);
  --c7-primary-button-bg: transparent;
  --c7-primary-button-bg-hover: transparent;
  --c7-primary-button-text-color: #932761;
  --c7-alt-button-bg: transparent;
  --c7-alt-button-bg-hover: transparent;
  --c7-alt-button-text-color: #932761;
  --c7-button-border-radius: 0;
  --c7-info-bg: #f1f1f4;
  --c7-error: #ca0505;
  --c7-error-bg: #ffebeb;
  --c7-warning: #fba213;
  --c7-warning-bg: #fff6e5;
  --c7-success: #016047;
  --c7-success-bg: #e8fcf7;
  --c7-header-text-color: #232324;
  --c7-notification: #ca0505;
  --c7-cart-count-bg: var(--c7-primary-color);
  --c7-cart-count-bg-focus: var(--c7-primary-color-focus);
  --c7-cart-count-text-color: #fff;
  --c7-side-cart-shadow: 0 0 15px 5px rgb(0 0 0 / 10%);
  --c7-dropdown-border-radius: 8px;
  --c7-dropdown-shadow: 0 1px 7px 0 rgb(0 0 0 / 15%);
  --c7-dropdown-hover: #e6e8ed;
  --c7-block-bg: var(--c7-bg);
  --c7-block-border-color: var(--c7-border-color);
  --c7-block-border-radius: var(--c7-border-radius);
  --c7-block-shadow: 0 1px 3px 0 rgba(222, 222, 227, 0.3);
}

.c7-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: .65rem;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .185rem;
  border: 0;
  background: transparent;
  padding: 1rem 1rem;
  color: #932761;
  vertical-align: middle;
  min-height: 0;
}

button.c7-link {
  color: #932761 !important;
}

.c7-order-status-summary svg,
.c7-btn--edit svg {
  display: none;
}

.navigation nav .c7-order-summary__buttons a {
  /* color: #932761; */
}

.collections-nav a:not([disabled]):hover,
.collections-nav a:hover {
  background: transparent;
  text-decoration: none;
}


@media (min-width: 769px) {

  .collections-nav,
  .c7-account__menu {
    position: fixed;
    width: 100%;
    top: 5rem;
    z-index: 1;
    left: 0;
  }

  .collections-nav a.c7-btn {
    padding: 1rem 0;
    color: #666
  }

  .purchase.layout>header {
    padding-bottom: 3.25rem;
  }

  .faq .image-1 {
    float: right;
    width: 22rem;
  }

  .c7-product-collection .c7-product__image {
    flex: none;
    padding: 0 8rem 2rem 8rem;
    margin: 0;

  }

  .c7-product-collection .c7-product,
  .c7-product-collection__products--featured .c7-product {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-align: left;
    background: transparent;
  }

  .c7-product-collection .c7-product__image {}

  .c7-product-collection .c7-product__image img,
  .c7-order-item__image img {
    max-height: 100%;
    margin: 0;
  }

  .c7-product-collection .c7-product__image a {
    padding: 0;
  }

  .c7-product-collection__products--featured .c7-product__image {
    margin: 0;
  }

  .c7-product-collection__product-list {
    display: block;
    text-align: center;
  }

  .c7-product__details {
    /* border: 1px solid #dedede; */
    /* color: #fff; */
    padding: 10rem 6rem 2rem 6rem;
    margin: -10rem 2rem 2rem 2rem;
  }

  .c7-product__details * {
    line-height: 2.5;
    vertical-align: baseline;
  }

  .c7-product__add-to-cart__price {
    margin: 0;
  }

  .c7-form .c7-radio {
    /* text-align: center; */
  }

  .c7-product__details * {}

  .c7-product__title a {
    margin-bottom: 1rem;
  }

  .c7-product__teaser {
    font-style: italic;
    letter-spacing: .05rem;
    margin: 0;
  }

  .c7-product__teaser p,
  .c7-product__add-to-cart__price__action-message {
    margin: 0;
  }
  .c7-product__add-to-cart__price__action-message {
    display: none;
  }

  .c7-product__allocation__title {
    font-weight: normal
  }

  .c7-product__add-to-cart__price {
    font-size: 1rem;
  }

  .c7-product__add-to-cart__form__quantity--select {
    width: auto;
  }

  .c7-form select,
  .c7-order-item select {
    height: auto;
    line-height: 1.1;
    padding: .25rem;
    padding-right: 30px;
    width: 100%;
    border-radius: 0;
    background-size: 12px;
  }

  .c7-product__add-to-cart__form button {
    padding: .32rem !important;
  }

  .c7-product__allocation__date,
  .c7-product__allocation__quantity,
  .c7-product__allocation__wish {
    display: none
  }

  .c7-pagination {
    /* text-align: center; */
  }

  .c7-account-club {
    padding-top: 2rem;
    margin-bottom: 2.25rem;
  }
}

@media (max-width: 768px) {
  .c7-product-collection .c7-product__image img {
    max-height: 100%;
  }
}

.c7-product-collection__products--featured .c7-product {
  background: transparent;
  padding: 0;
}

.c7-account__header {
  background: #fff;
  padding: 0;
  margin: 2rem 0 2rem;
  text-align: right;
}

.c7-account__header a svg {
  display: none;
}

.c7-account__header p {
  display: inline-block;
}


.c7-pagination {
  display: none;
}

.c7-product-collection__products--featured {
  /* display: none; */
}

.c7-back::before {
  display: none;
}

.c7-user-nav__account__dropdown {
  margin-right: -20000px;
}

.c7-user-nav__account__name svg {
  display: none;
}

.c7-order-items .c7-order-item__image img {
  max-height: 100%;
  max-width: 8rem;
}

.c7-user-nav__cart__count {
  background-color: #d78628;
  font-family: canada-type-gibson, sans-serif;
  font-weight: normal;
  height: auto;
  font-size: .65rem;
}

.c7-side-cart {
  font-size: 1rem;
}

.c7-order-item__image img {
  margin: auto;
}

.product-detail h2 {
  font-size: 2rem;
}

@media (min-width: 769px) {


  .product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .product-detail .image {
    padding: 0 4rem;
    width: 50%;
  }

  .product-detail .details {
    padding: 2rem 2rem 2rem 0;
    text-align: left;
    width: 50%;
  }

  .product-detail .details h2 {
    padding-bottom: 0;
  }

  .product-detail .details h3 {
    margin: 1rem 0 2rem;
  }

  .product-detail .c7-product__add-to-cart__form {
    max-width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .c7-product__add-to-cart__form>div input,
  .c7-product__add-to-cart__form>button {
    padding: 0;
  }

  .c7-account-dashboard__block__header,
  .c7-account-block__header,
  .c7-account-dashboard__block:nth-of-type(3) .c7-h2,
  .c7-order-details__column .c7-h2,
  .c7-order-items .c7-h2,
  .c7-account-details__header,
  .c7-table__row th {
    align-items: normal;
    border-bottom: 1px solid #000 !important;
    width: 100%;
    padding: 1rem 0;
  }

  .c7-account-club-shipments .c7-account-block {
    padding: 0;
  }

  .c7-table__row th {
    width: auto;
  }

  .c7-account-dashboard__block__header .c7-btn {
    padding-top: 0;
  }

  .c7-account-dashboard .c7-account-block__details,
  .c7-account-dashboard .c7-account-block__header,
  .c7-account-block {
    padding: 1rem 0;
    box-shadow: none;
  }

  .c7-table td {
    padding: 0;
  }

  .c7-btn--primary:not([disabled]):hover,
  .c7-btn--alt:not([disabled]):hover,
  .c7-btn--alt--small:not([disabled]):hover {
    text-decoration: underline;
  }
}

.product-bottom-details {
  display: none;
}

.product-bottom-details .col-3 {
  text-align: center;
  max-width: 800px;
  margin: 4rem auto;
}

.c7-order-map,
.kitchen-sink {
  display: none;
}

/* club shipments */
.c7-account-club-shipments h1 {
  display: none;
}

.c7-account-club__header,
.c7-account-club__header h2,
.c7-account-club__details .c7-account-blocks,
.c7-account-club__header__title h2 {
  margin-bottom: 0;
}

.c7-account-club__header__title h2 {
  padding-bottom: .65rem;
}

.c7-marker--small {
  padding: 0 1rem;
  font-size: 0.8rem;
}


.c7-account-dashboard .c7-order-items {
  padding: 1rem 0;
}

@media (min-width: 481px) {
  .c7-account-dashboard .c7-order-items ul,
  .c7-order-items--shipment ul {
    grid-template-columns: repeat(4, 1fr)
  }  
}

.c7-order-item__image + .c7-order-item__details {
  margin: 1rem 0 0 0;
}

.c7-order-item {
  display: block;
}
.c7-order-item * {
  font-size: 1rem;
}

.c7-order-items .c7-order-item__pricing {
  justify-content: start;
}

.c7-order-item__image img {
  margin: 0;
}

@media screen and (min-width: 769px) {
  .c7-account-club__header {
    align-items: baseline;
  }
}

.c7-order-item__details * {
  text-align: left;
}

/* dashboard */

.c7-account-dashboard__left-column .c7-account-dashboard__block:last-child {
  display: none;
}

.c7-account-dashboard .c7-account-block__details:nth-child(3) {
  margin: 0;
}

.c7-account-dashboard__block__header__title h2 {
  padding: 0;
}

.c7-order-items,
.c7-account-dashboard .c7-order-map+.c7-order-items {
  padding: 1rem 0;
}

/* orders */
.c7-account-orders h1 {
  display: none;
}

.c7-table__items {
  display: none !important;
}

.c7-table tr {
  border-bottom: 1px solid #000;
}

/* account details */
.c7-account-details__account .c7-account-details__header {
  display: none;
}

.c7-table a {
  margin: 0;
}

section .c7-account-details__addresses .c7-account-details__header,
section .c7-account-details__payment .c7-account-details__header {
  align-items: center;
  padding: 0;
}

section .c7-account-details__addresses .c7-account-details__header h2,
section .c7-account-details__payment .c7-account-details__header h2 {
  padding: 0;
}

section .c7-account-details__addresses .c7-account-details__header .c7-btn,
section .c7-account-details__payment .c7-account-details__header .c7-btn {
  padding-right: 0;
}

.c7-account-details__addresses .c7-account-blocks,
.c7-account-details__payment .c7-account-blocks {
  grid-template-columns: 1fr;
}

@media (min-width: 769px) {

  .c7-account-details__addresses,
  .c7-account-details__payment {
    width: 50%;
  }
}

.c7-account-details__delete-account {
  margin-top: 0;
  padding-top: 0;
}

.c7-account-details__delete-account .c7-btn {
  padding-left: 0;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }

  .c7-account__menu ul {
    text-align: center
  }

  .c7-account__menu li.c7-active a:after,
  .c7-account__menu li:hover a:after {
    width: 100%;
  }

  html .c7-content h2 {
    text-align: left;
  }
}